{% extends "layout4admin.html" %}
{% block title %}GIF Maker {{ version }} {% endblock %}
{% block body %}

<h2>Admin</h2>

<table>

    <tr>
        <td>
            {{ welcome_message }}
        </td>
        <td>
            {{ tasks_for_this_user }} cached task(s)
            &nbsp;|&nbsp;
            <a href="/admin_clear_cache">
                Clear cache for this user
            </a>
        </td>        
    </tr>

    <tr>
        <td>
            Select template:
        </td>
        <td>
            {% include "list_of_templates.html" %}
        </td>
    </tr>
    <tr>
        <td>
            Set properties:
        </td>
        <td>
            
        </td>
    </tr>

</table>

{% endblock %}