{% extends "layout.html" %}
{% block title %}GIF Maker {{ version }} {% endblock %}
{% block body %}

<h2>Testing GET requests</h2>

<script>
  jQuery(function () {

    function waitForToken(callback, attempt) {
      if (attempt >= 10) {
        console.error("GIF MAKER: token not received after", attempt, "attempts");
        return;
      }

      if (window.gifMakerAuthToken) {
        callback();
      } else {
        setTimeout(function () { waitForToken(callback, attempt + 1); }, 1000);
      }
    }

    waitForToken(function () {
      let url1 = "http://localhost:5555/g?token=__TOKEN__&t=123&template=1";
      let url2 = "http://localhost:5555/g?token=__TOKEN__&t=123&template=2";
      let url3 = "http://localhost:5555/g?token=__TOKEN__&t=123&template=200";
      let url4 = "http://localhost:5555/g?token=__TOKEN__&t=abc&template=200";

      jQuery('#demo1').attr('src', url1.replace('__TOKEN__', window.gifMakerAuthToken));
      jQuery('#demo2').attr('src', url2.replace('__TOKEN__', window.gifMakerAuthToken));
      jQuery('#demo3').attr('src', url3.replace('__TOKEN__', window.gifMakerAuthToken));
      jQuery('#demo4').attr('src', url4.replace('__TOKEN__', window.gifMakerAuthToken));
    }, 1);

  });
</script>

<table>

  <tr>
    <td>
      Login:
    </td>
    <td id="gif_maker_login">
    </td>
  </tr>

  <tr>
    <td>
      Password:
    </td>
    <td id="gif_maker_password">
    </td>
  </tr>

  <tr>
    <td>
      <img id="demo1" src="">
    </td>
    <td>
      <img id="demo2" src="">
    </td>
  </tr>

  <tr>
    <td>
      <img id="demo3" src="">
    </td>
    <td>
      <img id="demo4" src="">
    </td>
  </tr>

</table>

{% endblock %}