
{% extends "layout.html" %}

{% block title %}GIF Maker {{ version }} {% endblock %}

{% block body %}
  <h2>Submit Text</h2>
  <table>
    <tr>
      <td>
        Text:
      </td>
      <td>
        <input type="text" name="t" value="Denis Bushtruk">
      </td>
    </tr>

    <tr>
      <td>
        Login:
      </td>
      <td>
        <input type="text" name="login" value="denis" />
      </td>
    </tr>

    <tr>
      <td>
        Password:
      </td>
      <td>
        <input type="text" name="password" value="123" />
      </td>
    </tr>

    <tr>
      <td>
        Template:
      </td>
      <td>
        <select name="template">
          <option value="1">Template 1 - LIFE Simple (Original)</option>
          <option value="2">Template 2 - LIFE My</option>
          <option value="3">Template 3 - F1(x,y)</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        <input type="submit" id="submit_button" value="Annotate">
      </td>
      <td>
      </td>
    </tr> 
  </table>

  <h2>Result</h2>

  <table>
    <tr>
      <td>
        Result Raw:
      </td>
      <td id="result_text">        
      </td>
    </tr>
    <tr>
      <td>
        Result GIF:
      </td>
      <td>
        <img src="" id="result_image">        
      </td>
    </tr>
  </table>

{% endblock %}
