<body>

  <h2>Examples</h2>
  
  <table>
    
    <tr>
      <td>
        <img src="http://localhost:5555/anno?login=alex&password=123&t=123&template=1">
      </td>
      <td>
        <img src="http://localhost:5555/anno?login=alex&password=123&t=123&template=2">
      </td>
    </tr>

    <tr>
      <td>
        <img src="http://localhost:5555/anno?login=alex&password=123&t=123&template=3">
      </td>
      <td>
        <img src="http://localhost:5555/anno?login=alex&password=123&t=123&template=4">
      </td>
    </tr>

    <tr>
      <td>
        <img src="http://localhost:5555/anno?login=alex&password=123&t=123&template=200">
      </td>
      <td>
        <img src="http://localhost:5555/anno?login=alex&password=123&t=abc&template=200">
      </td>
    </tr>

  </table>

</body>